<nav class="navbar navbar-fixed-top navbar-expand-lg py-3">
    <!-- この下の行に mr-auto クラスを付与するだけ -->
    <ul class="navbar-nav mr-auto">　
    <li class="nav-item mr-3 font-weight-bold rounded"><a class="nav-link text-center" href="/">HOME</a></li>
    <li class="nav-item mr-3 font-weight-bold rounded"><a class="nav-link text-center" href="/">sola-watch0?</a></li>
    <li class="nav-item mr-3 font-weight-bold rounded"><a class="nav-link text-center" href="/today">sola-Now</a></li>
    <li class="nav-item mr-3 font-weight-bold rounded"><a class="nav-link text-center" href="/today">sola-Data</a></li>
    <li class="nav-item mr-3 font-weight-bold rounded"><a class="nav-link text-center" href="/today">sola-gram</a></li>
    <li class="nav-item mr-3 font-weight-bold rounded"><a class="nav-link text-center" href="/calenders">Arcive</a></li>
    <li class="nav-item mr-3 font-weight-bold rounded"><a class="nav-link text-center disabled" href="/contact">Contact</a></li>
    </ul>
</nav>