// Place all the styles related to the data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .data-image{
//     width: 700px;
//     height: 500px;
// }
.title{
    font-size: 50px;
}
.data-img{
    width: 100%; 
    height: 700px;
}

.image{
    width: 100%;
}